<%- include('header') -%> 

<!-- <h2>Login System</h2> -->

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <div class="h2 font-weight-bold">Login System</div>
            <div class="span">
                <p>Log in for the existing user</p>
            </div>
            <% if(locals.logout){ %>
                <div class="alert alert-success text-center">
                    <%= logout %> 
                </div>
           <% } %> 
        </div>
        <form action="/route/login" method="POST">
            <div class="form-group pb-4">
                <input type="email" class="form-control" placeholder="email" name="email">
                <small class="form-text text-muted text-left">Register email address</small>
            </div>
            <div class="form-group pb-5">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success rounded-pill">submit</button>
        </form>
    </div>
</div>



<%- include('footer') -%> 

